postgredb/
redisdb/
.venv/
.idea/
*.pyc
*.log
app/db.sqlite3
app/media
postgresdb/
redisdb/
__pycache__/
migrations/
app/locale/
celerybeat-schedule.db
locale/
venv/
db/
.DS_Store
_nginx/certs/
_nginx/html/  